   /* Import other CSS files */
@import url('sections/header.css');
@import url('sections/main.css');
@import url('sections/footer.css');

/* Root Variables */
:root {
  /* Font families */
  --font-primary: 'Arial', sans-serif;
  --font-secondary: 'Candara', Helvetica, Arial, sans-serif;


  /* Colors */
  --color-primary: #51725256;
  --color-secondary: #D3B88C;
  --color-accent: #E9DAC4;
  --color-accent2: #656256;
  --color-text: #ecececde;
  --color-light-text: #5D1809;
  --color-border: #000000;
}

body{
  background: linear-gradient(to right, #000000, #3f3d3d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--font-primary);
}

h2 {
  font-family: var(--font-secondary);
}

ul {
    list-style: none;
}

li {
  margin-bottom: 80px;
}

a {
  font-family: var(--font-secondary);
  text-decoration: none;
  user-select: none;
  color: var(--color-text);
  display: inline-block;
  transition: transform 0.3s ease;
}

a:hover {
  text-shadow:
    0 0 5px var(--color-text),
    0 0 10px var(--color-text),
    0 0 20px var(--color-text);
  transform: scale(1.1);
}

a:active {
  color: var(--color-text);
  transform: scale(1.3);
}

p {
  font-family: var(--font-secondary);
  color: var(--color-text);
}