.home {
  scroll-snap-align: start;
  height: 100vh;    
}

.home__group {
  display: flex;             
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;           
}

.hero {
  scroll-snap-align: start;
  height: 100vh;            
}

.hero__group {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1fr 1fr;        
  gap: 25px;  
  padding: 10%;                           
  width: 50%;
  height: 50%;    
  opacity: 1;         
  margin: 0 auto;      
}

.hero__text,
.hero__text2,
.hero__text3,
.hero__text4,
.hero__text5,
.hero__text6 {

    width: 100%;         
    height: 100%;  
    display: inline-block;     
    overflow: hidden;    
    text-overflow: ellipsis;
    border:1px solid;
    border-color: var(--color-border);
    border-radius: var(--radius-md);
    padding: 2%;
    flex: 1;
    transition: 
      transform 0.3s ease-in-out, 
      box-shadow 0.3s ease-in-out, 
      opacity 0.3s ease-in-out;
}

.hero__text:hover,
.hero__text2:hover,
.hero__text3:hover,
.hero__text4:hover,
.hero__text5:hover,
.hero__text6:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: scale(1.3);
  z-index: 10;
}

.hero__group:hover .hero__text:not(:hover),
.hero__group:hover .hero__text2:not(:hover),
.hero__group:hover .hero__text3:not(:hover),
.hero__group:hover .hero__text4:not(:hover),
.hero__group:hover .hero__text5:not(:hover),
.hero__group:hover .hero__text6:not(:hover) {
  opacity: 0.2;
}

.logo-image {
  float: left;
  width: 30%;
  height: 30%;
  margin: 10px;
  object-fit: contain;  
  display: block;     
}

.about {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;             
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  position: relative;              
  box-sizing: border-box;
}

.about__text {           
  border-radius: var(--radius-md);
  margin: 1px;
  padding: 25px;
  opacity: 0.5;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, opacity 0.4s ease-in-out;
  box-sizing: border-box;
}

.about__text:hover {
  transform: scale(1.04);
  opacity: 1;
}

.about__logo {
  align-content: center;
  margin: 5px;
  flex: 1;
}

.rounded-img {
  float: right;
  margin: 10px;
  border-radius: var(--radius-md);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.rounded-img:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.04);
}

.portfolio {
  scroll-snap-align: start;
  height: 100vh;          
  display: flex;          
  justify-content: center;
  align-items: center;    
  width: 60%;             
  margin: 0 auto;
}

.portfolio__box {
  background-color: var(--color-plates);
  position: relative;               
  flex: 0.5 1 0;                    
  overflow: hidden;                 
  transition:
    flex-grow 1.2s ease-in-out,
    box-shadow 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  margin: 5px;
  height: 90%; 
                     
}

.portfolio__box:hover {
  flex-grow: 8;
  opacity: 1;                 
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.portfolio:hover .portfolio__box:not(:hover) {
  opacity: 0.4;                  
}

.portfolio__box img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.referenzen {
  scroll-snap-align: start;
  height: 100vh; 
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 10%;              /* reduce padding from 10% */
  margin: 0 auto;
  gap: 200px;                /* space between circles */
  flex-wrap: wrap;          /* allows circles to wrap when needed */
}

.picture {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  transition:
    box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.picture:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.04);
}

.picture:active {
  box-shadow: var(--box-shadow);
  transform: scale(1.04);
}

.kontakt {
  scroll-snap-align: start;
  height: 80vh;          
  display: flex;          
  justify-content: center;
  align-items: center;    
  width: 60%;             
  margin: 0 auto;
}
